{% load static %}
<div class="col-lg-6 col-xl-4">
    <div class="p-4 rounded bg-light">
        <div class="row align-items-center">
            <div class="col-6">
                <img src="{% static product_image %}" class="img-fluid rounded w-100" alt="">
            </div>
            <div class="col-6">
                <a href="#" class="h5">{{ title_prod }}</a>
                <div class="d-flex my-3">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4 class="mb-3">{{ price }} $</h4>
                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i
                        class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
            </div>
        </div>
    </div>
</div>
