{% extends 'homepage/base_index.html' %}
{% load static %}
{% block indexcontent %}

<!-- Vesitable Shop Start-->
{% include 'homepage/vegetable-shop.html' with products=veggies %}
<!-- Vesitable Shop End -->


<!-- Banner Section Start-->
{% include 'homepage/banner.html' %}
<!-- Banner Section End -->


<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
            <p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                reasonable.</p>
        </div>
        <!-- ბაზიდან მომაქვს ხილი -->
        <div class="row g-4">
            {% for product in fruits %}
                {% include 'homepage/bestseller-product.html' with product_image=product.image title_prod=product.product_name price=product.product_price%}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Bestsaler Product End -->


<!-- Fact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                {% include 'homepage/fact.html' with text="satisfied customers" num="1963" %}
                {% include 'homepage/fact.html' with text="quality of service" num="99%" %}
                {% include 'homepage/fact.html' with text="quality certificates" num="33" %}
                {% include 'homepage/fact.html' with text="Available Products" num="789" %}
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->


<!-- Tastimonial Start -->
{% include 'homepage/testimonial-home.html' with reviews=reviews %}
<!-- Tastimonial End -->

        
{% endblock indexcontent %}