<div class="col-lg-12">
    <div class="mb-3">
        <h4>Additional</h4>
        <div class="mb-2">
            <input type="radio" class="me-2" id="Categories-1" name="Categories-1"
                   value="Beverages">
            <label for="Categories-1"> Organic</label>
        </div>
        <div class="mb-2">
            <input type="radio" class="me-2" id="Categories-3" name="Categories-1"
                   value="Beverages">
            <label for="Categories-3"> Sales</label>
        </div>
    </div>
</div>